<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'></link>

    <!-- use the font -->
    <style>
	    body, html {
		    height: 100%;
		    margin: 0;
		    font-family: "Source Sans Pro", Arial, sans-serif;
		    font-weight: 300;
		    font-size: 20px;
		    line-height: 1.5;
		    color: #777777;
		    fill: currentColor !important;
		}
	</style>
    
</head>

<div>
  	<div style="position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 150px; 
	    z-index: 2;
	    opacity: .8;
	    -webkit-backface-visibility: hidden;
	    background-color: #52d3aa;
	    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
	    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
	    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
	    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
	    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);">
   
	    <a 	style="color: #fff;
		    padding-top: 0.5rem;
		    font-weight: 700;
		    text-transform: uppercase;
		    display: inline-block;
		    margin-left: 1rem;
		    font-size: 2rem;
		    line-height: inherit;
		    text-decoration: none;
		    background-color: transparent;
		    font-family: 'News Cycle', 'Arial Narrow Bold', sans-serif;
		    white-space: nowrap;" th:href="@{https://murmure.tech/}">
		    
	        <img style="position:relative;
				    width:200px;
				    height:200px;
				    cursor: pointer;
				    vertical-align:middle;
				    display:inline-block;" src="cid:logo">
			</img>
	        MurMûre
	    </a>
  	</div>
</div>
<div style="position:relative;
    margin-top:-70px;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: '';
    z-index: 3;
    display: inline-block;
    height: 100px;
    bottom: 0;
    padding: 0;
    width: 101%;
    z-index: 3;">
</div>

<body>
   	<div style="width: 100%;padding-bottom: 50px;margin-bottom: 50px;clear: both;text-align: center !important;">
        <h2 style="font-family: 'News Cycle', 'Arial Narrow Bold', sans-serif;
		    margin: 0;
		    font-size: 50px;
		    font-weight: 300;
		    color: #444;
		    text-transform: uppercase;
		    position: relative;
		    display: block;
		    line-height: 1.5;">
    		<span th:text="${title}">title</span>
    	</h2>
       	<div>
         		<div>
	           		<h3 style="font-weight: 300;
					    line-height: 1.5;
					    color: #929292;
					    font-family: 'Source Sans Pro', Arial, sans-serif;
					    font-weight: 400;
					    margin: 0;
					    font-size: 24px;">
						<span th:text="${subtitle}">subtitle</span>
					</h3>
         		</div>
       	</div>
    </div>
    
    <div style="text-align:center">
		<p style="font-size: 20px;
    		color: black;"
    		th:text="${content}">content</p>
	</div>

</body>

<div>
  	<div style="position: relative;
	    left: 0;
	    right: 0;
	    height: 150px; 
	    z-index: 2;
	    opacity: .8;
	    text-align: center;
	    -webkit-backface-visibility: hidden;
	    margin-top: 100px;
	    padding-top: 100px;
	    background-color: #52d3aa;
	    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
	    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
	    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
	    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
	    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);">
   
	    <p style="position: relative;
	    	z-index: 3;
	    	font-size: 20px;
	    	color: #fff!important;">
	    	© Code Mûre 2018
	    </p>
  	</div>
</div>
</html>