<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
    <title>Sending Email with Thymeleaf HTML Template Example</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'></link>

    <!-- use the font -->
    <style>
	    body, html {
		    height: 100%;
		    margin: 0;
		    font-family: "Source Sans Pro", Arial, sans-serif;
		    font-weight: 300;
		    font-size: 20px;
		    line-height: 1.5;
		    color: #777777;
		    fill: currentColor !important;
		}
	</style>
    
</head>

<div>
  	<div style="position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 150px; 
	    z-index: 2;
	    opacity: .8;
	    -webkit-backface-visibility: hidden;
	    background-color: #52d3aa;
	    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
	    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
	    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
	    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
	    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);">
   
	    <a 	style="color: #fff;
		    padding-top: 0.5rem;
		    font-weight: 700;
		    text-transform: uppercase;
		    display: inline-block;
		    margin-left: 1rem;
		    font-size: 2rem;
		    line-height: inherit;
		    text-decoration: none;
		    background-color: transparent;
		    font-family: 'News Cycle', 'Arial Narrow Bold', sans-serif;
		    white-space: nowrap;" th:href="@{https://murmure.tech/}">
		    
	        <img style="position:relative;
				    width:200px;
				    height:200px;
				    cursor: pointer;
				    vertical-align:middle;
				    display:inline-block;" src="cid:logo">
			</img>
	        MurMûre
	    </a>
  	</div>
</div>
<div style="position:relative;
    margin-top:-70px;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: '';
    z-index: 3;
    display: inline-block;
    height: 100px;
    bottom: 0;
    padding: 0;
    width: 101%;
    z-index: 3;">
</div>

<body>
   	<div style="width: 100%;padding-bottom: 50px;margin-bottom: 50px;clear: both;text-align: center !important;">
        <h2 style="font-family: 'News Cycle', 'Arial Narrow Bold', sans-serif;
		    margin: 0 0 30px 0;
		    font-size: 50px;
		    font-weight: 300;
		    color: #444;
		    text-transform: uppercase;
		    position: relative;
		    display: block;
		    padding-bottom: 20px;
		    line-height: 1.5;">
    		Hello 
    		<span th:text="${name}">name</span>
    	</h2>
       	<div>
         		<div>
           		<h3 style="font-weight: 300;
				    line-height: 1.5;
				    color: #929292;
				    font-family: 'Source Sans Pro', Arial, sans-serif;
				    font-weight: 400;
				    margin: 0 0 30px 0;
				    font-size: 24px;">Here is what you maybe missed this week !
				</h3>
         		</div>
       	</div>
     	</div>
    
	<div style="text-align:center">
		<div style="background-color: rgb(250,250,255);
			position:relative;
		    border-radius: 5px;
		    overflow: hidden;
		    color: black;
		    margin: 15px;
		    margin-left:25%;
		    width:50%;" th:each="music : ${topMusics}">
		  	
		  	<a style="position: relative;
				    height: 100%;
				    width: 100%;
				    text-decoration: none;
				    display: flex;"	 th:href="@{http://murmure.tech}"> 
			    <div style="position: relative;
				    width: 30%;
				    height: auto;
				    margin-bottom: -3px;
				    color: white;">
				    <img style="position: relative;
						    width: 100%;
						    height: auto;
						    border-radius: 5px;
						    color: white;" th:src="@{${'https://picsum.photos/640/640?image=' + music.pictureNumber}}">
					</img>
	    		</div>
    			<div style="padding-left: 15px;
    						width: 70%;">
	      			<div style="text-align: left;
						    margin-top: 15px;
						    border-bottom-style: solid;
						    border-bottom-width: 1px;
						    margin-bottom: 0.5rem;
						    font-family: 'News Cycle', 'Arial Narrow Bold', sans-serif;
						    font-weight: 700;
						    line-height: 1.1;
						    border-bottom-color: #929292;">
	      				<h4 style="text-align: left;
						    color: #3a3a3a;
						    display: inline;
						    font-size: 1.5rem;" th:text="*{music.name}">name
						 </h4>
						 <span style="color: #929292;
						 			display: inline;
  									font-size: 16px;">by 
					    </span>
					    <span style="color: #929292;
					    			display: inline;
  									font-size: 16px;" th:text="*{music.user_name}">username
					    </span>
	        		</div>
	        		<p style="text-align: left;
						    margin-top: 0;
						    margin-bottom: 1rem;
						    color: black;
						    font-family: 'Source Sans Pro', Arial, sans-serif;
						    font-weight: 300;
						    font-size: 20px;
						    line-height: 1.5;" th:text="*{music.description}">description</p>
	        		<table style="margin-top: 15px;
    							width: 100%;">
			            <tbody>
			            	<tr>
				              <th style="color: #3a3a3a;
								    font-size: 11px;
								    cursor: text;
								    line-height: 25px;
								    text-transform: uppercase;
								    text-align: left;
								    white-space: nowrap;
								    vertical-align: top;">Genre</th>
				              <td style="padding-left: 15px;
									    color: #929292;
									    font-size: 16px;
									    letter-spacing: -1px;
									    outline: 0;
									    text-align: left;" th:text="*{music.style}">style</td>
				            </tr>
				            <tr>
					              <th style="color: #3a3a3a;
								    font-size: 11px;
								    cursor: text;
								    line-height: 25px;
								    text-transform: uppercase;
								    text-align: left;
								    white-space: nowrap;
								    vertical-align: top;">Tempo</th>
					              <td style="padding-left: 15px;
									    color: #929292;
									    font-size: 16px;
									    letter-spacing: -1px;
									    outline: 0;
									    text-align: left;" th:text="*{music.tempo}">tempo</td>
				            </tr>
				            <tr>
					              <th style="color: #3a3a3a;
								    font-size: 11px;
								    cursor: text;
								    line-height: 25px;
								    text-transform: uppercase;
								    text-align: left;
								    white-space: nowrap;
								    vertical-align: top;">Tonality</th>
					              <td style="padding-left: 15px;
									    color: #929292;
									    font-size: 16px;
									    letter-spacing: -1px;
									    outline: 0;
									    text-align: left;" th:text="*{music.tonality}">tonality</td>
				            </tr>
				            <tr>
					              <th style="color: #3a3a3a;
								    font-size: 11px;
								    cursor: text;
								    line-height: 25px;
								    text-transform: uppercase;
								    text-align: left;
								    white-space: nowrap;
								    vertical-align: top;">Instruments</th>
					              <td style="padding-left: 15px;
									    color: #929292;
									    font-size: 16px;
									    letter-spacing: -1px;
									    outline: 0;
									    text-align: left;" th:text="*{music.instruments}">instruments</td>
				            </tr>
			          	</tbody>
			      	</table>
	        	</div>
		  	</a>
		</div>
	</div>
</body>
</html>



